<!--</div>-->
<footer class="text-center">
    <div class="col-12 my-3 py-2">
        <!-- <hr class='light'> -->
<!--        <p>dqgsh1055@gmail.com</p>-->
<!--        <p>010-9990-4372, 김시현</p>-->
        <p>유비쿼딩스</p>
    </div>
    <div class="col-12">
        <hr class="light">
        <h4>유비쿼딩스</h4>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- websocket 의존성 추가 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<!--index.js 추가-->
<!--<script src="/js/app/index.js"></script>-->
<script src="/js/app/userAction.js"></script>
<!--js 파일은 필요한 화면에만 추가해서 최적화 해볼 수 있겠다-->
</body>
</html>