# Kafka
bootstrap.servers=pkc-43n10.us-central1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="KJI4UCGDVVDMSU5J" password="sEig/YuhcvvtC8xp9F2cqig29AWwzaVnKj7cm7ZIxdXQDD/dqWZVosnLlUUp51+j";
ssl.endpoint.identification.algorithm=https
sasl.mechanism=PLAIN