{{>layout/header}}
order-list
<div class="main1"> 상품 주문 내역</div> <!--위에 order-list-->

{{#shopLists}} <!--List<Order>-->

<input type="hidden" value="{{id}}" id="input-order-id"/> <!-- Order 의 id -->

{{#orderProducts}} <!--loop ? ok--> <!--List<OrderProduct>-->
<div class="row">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5> <!--잘나온다!-->
            <h5 class="card-title">{{count}}</h5>
<!--            <button type="button" class="btn btn-primary btn-lg" id="btn-cart-order">주문</button>-->
            <input type="hidden" value="{{product.id}}" id="input-cart-order"/>
            <!--                    <a href="/orders/new/{{product.id}}" class="btn btn-info active" role="button">주문</a>-->
        </div>

        <div>
            <div class="main2">

                <div id="main21">
                    <div id="main211"> 날짜: {{createdDate}}</div>
                    <div id="main211"> 주문 번호(나중에 uuid 고려) </div>
                    <div id="main211"> 총 주문 금액: {{orderPrice}}</div> <!--임시로 상품 1개 가격-->
                </div>

                <div id="main21">
                    <div id="main212" style="text-align: center">이미지 </div>
                </div>

                <div id="main21">
                    <div id="main212"> 상품 이름: {{product.name}} </div> <!--상품 이름-->
                    <div id="main212"> 상품 가격: {{orderPrice}} </div>
                </div>

                <div id="main21">
                    <div id="main212"> 배송 정보(배송 관련 스토리 아직 생각 안해봤음! 나중에 논의) </div> <!--배송중/배송완료-->
                </div>

                <div id="main21">
                    <button type="button" class="btn btn-primary btn-lg" id="btn-order-cancel">환불 요청(주문취소)</button>

<!--                    <button> 환불 요청(주문취소) </button>-->
                    <button> 교환 요청 </button>
                    <button> 리뷰 쓰기 </button>
                </div>
            </div>
        </div>


    </div>
</div>
{{/orderProducts}}
{{/shopLists}}

{{>layout/footer}}


